.createAccount {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinLogo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.signinContainer {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.signinContainer>.signInLink {
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.signinContainer>.signInLink>span {
    text-decoration: none;
    font-size: 30px;
}

.signinContainer>form>h5 {
    margin: 5px;
}

.signinContainer>form>input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.signinContainer>p {
    margin-top: 15px;
    font-size: 12px;
}

.signinContainer>form>Button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29
}

.signinContainer>button {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray important !;
    background-color: rgb(227, 219, 219);
    text-decoration: none;
    color: black;
}